extends ./layout.jade

block tabs
  //Determine active tab
  if db.tabs != 0
    each tab in db.tabs
      if activeTab === tab
        li.active(role='presentation')
          a(href='/' + tab) #{tab}
      else
        li(role='presentation')
          a(href='/' + tab) #{tab}

//Display questions
block content
  hr
  if db.questions != 0
    // Sort questions from newest to oldest
    - var qsort = function(a, b){
    -   var ax = new Date(a.time).getTime();
    -   var bx = new Date(b.time).getTime();
    -   return bx-ax;
    - }
    - db.questions.sort(qsort);
    // Display questions
    each q in db.questions
      if activeTab === 'new' && q.active === true 
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading.clearfix
                .pull-left
                  span
                    strong #{q.author} 
                  span.text-muted #{q.time}
                .pull-right
                  a#comments.btn.btn-xs.btn-warning.btn-circle.text-uppercase(href='/question/#{q.qid}')
                    span.glyphicon.glyphicon-comment Comments: #{q.responses.length} 
              a(href='/question/#{q.qid}')
                .panel-body
                  p.question #{q.question}
      else if activeTab === 'myquestions'
        if user === q.author && q.active === true
          .row
            .col-lg-12
              .panel.panel-default
                .panel-heading.clearfix
                  .pull-left
                    span
                      strong #{q.author}
                    span.text-muted #{q.time}
                  .pull-right
                    a#comments.btn.btn-xs.btn-warning.btn-circle.text-uppercase(href='/question/#{q.qid}')
                      span.glyphicon.glyphicon-comment Comments: #{q.responses.length}
                    a#delete.btn.btn-xs.btn-danger.btn-circle.text-uppercase(href='/question/#{q.qid}')
                      span.glyphicon.glyphicon-remove
                a(href='/question/#{q.qid}')
                  .panel-body
                    p.question #{q.question}
      else if activeTab === q.tag && q.active === true
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading.clearfix
                .pull-left
                  span
                    strong #{q.author} 
                  span.text-muted #{q.time}
                .pull-right
                  a#comments.btn.btn-xs.btn-warning.btn-circle.text-uppercase(href='/question/#{q.qid}')
                    span.glyphicon.glyphicon-comment Comments: #{q.responses.length} 
              a(href='/question/#{q.qid}')
                .panel-body
                  p.question #{q.question}
  
