extends ./layout.jade

block tabs

  if db.tabs != 0
    each tab in db.tabs
      if activeTab === tab
        li.active(role='presentation')
          a(href='/' + tab) #{tab}
      else
        li(role='presentation')
          a(href='/' + tab) #{tab}

block content

  hr
  if db.questions != 0
    each q in db.questions
      if activeTab === 'new'
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading.clearfix
                .pull-left
                  //PROFILE PIX img.img-responsive.user-photo.img-circle(src='img/sea.jpg')
                  span
                    strong #{q.author} 
                  span.text-muted #{q.time}
                .pull-right
                  a#comments.btn.btn-xs.btn-warning.btn-circle.text-uppercase(href='/question/#{q.qid}')
                    span.glyphicon.glyphicon-comment Comments: #{q.responses.length} 
              a(href='/question/#{q.qid}')
                .panel-body
                  p.question #{q.question}
      else if activeTab === q.tag
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading.clearfix
                .pull-left
                  //PROFILE PIX img.img-responsive.user-photo.img-circle(src='img/sea.jpg')
                  span
                    strong #{q.author} 
                  span.text-muted #{q.time}
                .pull-right
                  a#comments.btn.btn-xs.btn-warning.btn-circle.text-uppercase(href='/question/#{q.qid}')
                    span.glyphicon.glyphicon-comment Comments: #{q.responses.length} 
              a(href='/question/#{q.qid}')
                .panel-body
                  p.question #{q.question}