extends ./layout.jade


//Determine which tab is active
block tabs
	if db.tabs != 0
		each tab in db.tabs
			li(role='presentation')
				a(href='/' + tab) #{tab}

block content
	hr
	//Display question
	.row
		.col-lg-12
			.panel.panel-default
				.panel-heading.clearfix
					.pull-left
						//PROFILE PIX img.img-responsive.user-photo.img-circle(src='img/sea.jpg')
						span
							strong #{db.questions[myQid].author} 
						span.text-muted #{db.questions[myQid].time}
					.pull-right
						button#reply.btn.btn-xs.btn-info.btn-circle.text-uppercase(type="button", data-toggle="modal", data-target="#myRModal")
							span.glyphicon.glyphicon-share-alt REPLY
						if db.questions[myQid].author === user
							button#delete.btn.btn-xs.btn-danger.btn-circle.text-uppercase(type="button", data-toggle="modal", data-target="#myDelModal")
								span.glyphicon.glyphicon-remove DELETE
				.panel-body
					p.question #{db.questions[myQid].question}
					p #{db.questions[myQid].descript}
	//Display responses
	if db.questions[myQid].responses
		- var rsort = function(a, b){ return (b.upvotes.length-b.downvotes.length) - (a.upvotes.length-a.downvotes.length);}
		- db.questions[myQid].responses.sort(rsort)
		each resp in db.questions[myQid].responses
			.row
				.col-lg-11.pull-right
					.panel.panel-default
						.panel-heading.clearfix
							.pull-left
								//PROFILE PIX img.img-responsive.user-photo.img-circle(src='img/sea.jpg')
								span
									strong #{resp.author} 
								span.text-muted #{resp.time}
								span.text-muted #{resp.rid}
							.pull-right
								strong(id='votes#{resp.rid}') #{resp.upvotes.length - resp.downvotes.length} 
								button.btn.btn-xs.btn-success.btn-circle.text-uppercase(type="button", onclick="upvote(#{myQid}, #{resp.rid})")
									span.glyphicon.glyphicon-chevron-up
								button.btn.btn-xs.btn-danger.btn-circle.text-uppercase(type="button", onclick="downvote(#{myQid}, #{resp.rid})")
									span.glyphicon.glyphicon-chevron-down
						.panel-body
							p #{resp.response}

block footer
	script(src='/js/vote.js')